extends ../layout/index
block contenido
     main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7
                h1=pagina
                blockquote Mauris mollis accumsan arcu, et congue dolor ullamcorper sit amet. Suspendisse egestas pharetra lacus, sit amet pulvinar purus imperdiet quis. Pellentesque sapien purus, maximus sit amet ultricies id, dictum pellentesque nulla. Nullam et vehicula elit. Vivamus ac mi non neque gravida bibendum at eget libero. 
                p Fusce vulputate mattis malesuada. Ut ultrices tellus at metus iaculis hendrerit. Sed nec tempor sapien, in varius velit. Donec pharetra et ante ut vehicula. 
                p tortor id dictum dapibus, neque eros pretium lorem, sed venenatis enim felis a lectus. Maecenas efficitur dapibus rutrum. Duis consectetur a ligula sed ornare. In posuere pretium nulla sed ullamcorper. Donec commodo luctus magna feugiat lobortis. Fusce semper, risus eget malesuada maximus, felis neque placerat erat, eu tristique dui urna vitae lacus. 
     .listado-iconos 
         .container.mt-5.py-5.text-center
             .row  
                 .col-md-4 
                     img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                     h2 Seguridad
                     p      Fusce vulputate mattis malesuada. Ut ultrices tellus at metus iaculis hendrerit. Sed nec tempor sapien, in varius velit     
                 .col-md-4 
                     img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                     h2 Mejores Destinos
                     p      Fusce vulputate mattis malesuada. Ut ultrices tellus at metus iaculis hendrerit. Sed nec tempor sapien, in varius velit     
                 .col-md-4 
                     img(src="img/icono_precios.svg", class="img-fluid mb-4")
                     h2 Mejor Precio
                     p      Fusce vulputate mattis malesuada. Ut ultrices tellus at metus iaculis hendrerit. Sed nec tempor sapien, in varius velit     